.not-found-page {
  height: 80vh;
  background-image: url("../../public/images/community-gardens-404.jpg"); /* Use the provided image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found-content {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Add a semi-transparent background for readability */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.not-found-content h1 {
  font-size: 2.5rem;
  color: var(--color-olive);
  margin-bottom: 1rem;
}

.not-found-content p {
  font-size: 1.2rem;
  color: var(--color-brown);
  margin-bottom: 1.5rem;
}

.home-link {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: var(--color-olive);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-tan);
  }
}
