.dropdown-filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  /* max-width: 400px; */
  /* margin: 0 auto; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: medium;
    color: var(--color-brown);
    align-items: stretch;
    flex-wrap: wrap;
  }

  select {
    color: #7f7777;
    padding: 0.4rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
  }

  button {
    padding: 10px;
    background-color: var(--color-olive);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-tan);
    }
  }
}

@media (max-width: 768px) {
  .dropdown-filter {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 0 10px; /* Prevent breaking off the screen */
    width: 100%; /* Ensure it fits within the screen */
    box-sizing: border-box; /* Include padding in width calculation */
  }
}

@media (max-width: 600px) {
  .dropdown-filter {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }
}

@media (max-width: 512px) {
  .dropdown-filter {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 0 10px; /* Prevent breaking off the screen */
    width: 100%; /* Ensure it fits within the screen */
    box-sizing: border-box; /* Include padding in width calculation */
  }
}
