  footer {
    background-color:var(--color-tan);
    color: white;
    padding: 2rem;
    text-align: center;
  }
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  .footer-section h3 {
    color:#7a8864;
    border-bottom: 1px solid #7a8864a1;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  .footer-section a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
  }
  .footer-section a:hover {
    color: #7A8864;
  }
  .copyright {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #7a8864a1;
  }