// User.scss

:root {
  --color-tan: #b3a589;
  --color-olive: #8b9a72;
  --color-sage: #b2bea2;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-tan);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 1135px;

  .user-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--color-olive);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 1.5rem;
  }

  .user-info {
    text-align: center;

    h2 {
      font-size: 2rem;
      color: var(--color-olive);
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .logout-btn {
      background-color: var(--color-olive);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 1rem;

      &:hover {
        background-color: (--color-olive);
      }
    }
  }
}

.user-favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 2rem auto;

  .favorite {
    background-color: var(--color-sage);
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
